.popover {
	padding: 75px 55px 80px;
	border-radius: 10px;
	box-shadow: 0.5px 0.9px 0 1px rgb(155 155 155 / 30%);
	background-color: #fff;

	.description {
		margin: 0 auto 64px;
		max-width: 771px;
	}

	.main-btn {
		margin: 0 auto;
	}
}